*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height: 500vh;
    background: #000;
    font-family: "PP Neue Montreal";
}

h1{
    margin: 0.25em 0;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -0.02em;
}

p{
    font-size: 24px;
    font-weight: 400;
    line-height: 175%;
}

nav{
    position: fixed;
    top: 0;
    width: 100vw;
    padding:2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
}

.links{
    display: flex;
    align-items: center;
    gap:2em;

}

nav a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.logo a{
    font-size: 28px;
}

.lottie-container .animation{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    z-index: -1;
    filter: saturate(2);
}

.animation:after {
    content: "";
    background-image:( "https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
    animation: animateGrain 8s steps(10) infinite;
}

.gradient{
    width:100vw;
    height: 200vh;
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    z-index: 1;
}

.website-content{
    position: relative;
    width: 100%;
    height: 300vh;
    padding: 2em;
    background: #000;
    color: #fff;
    z-index: 1;
}

.end-lottie{
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 1px;
}

.container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    color: white;
}

.box {
    width: 19.875em;
    height: 25.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px; 
}

.container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.card-image {
    width: 100%; 
    height: 80%; 
    display: block; 
    margin-bottom: 15px; 
}

.container .box div strong {
    display: block;
    margin-bottom: 0.5rem;
}

.container .box div p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
}


.container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

@keyframes animateGrain{
    0%, 
    100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, -20%);
    }
    30% {
        transform: translate(-5%, -10%);
    }
    40% {
        transform: translate(-15%, -20%);
    }
    50% {
        transform: translate(-5%, -10%);
    }
    60% {
        transform: translate(-15%, -20%);
    }
    70% {
        transform: translate(-5%, -10%);
    }
    80% {
        transform: translate(-15%, -20%);
    }
    90% {
        transform: translate(-5%, -10%);
    }
    100% {
        transform: translate(-15%, -20%);
    }
}