*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #102820;
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h1{
    /* font-family: "Tiny5", sans-serif; */
    font-family: "DM Serif Display", serif;
    font-size: 12vw;
    /* font-weight: 500; */
    font-weight: 400;
    font-style: normal;
    /* letter-spacing: -0.05em;
    line-height: 175%; */
    color: #CABA9C;
    text-align: center;
}

.item{
    position: absolute;
    padding: 0.5em 0.5em 4em 0.5em;
    width: 200px;
    height: 225px;
    overflow: hidden;
    background: #fff;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%);
}

.link a {
    font-family: "DM Serif Display", serif;
    font-size: 20px; 
    color: #4D2D18; 
    text-decoration: none; 
    font-style: italic;
    font-weight: bold;
}

.audio {
    margin-top: 70px;
}
#playButton, #muteButton {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}
#muteButton {
    display: none;
}